
<html>
  <body>
    <div><h1>Home</h1></div>
    <div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink routerLink="add">Add Resto</a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="list">list Resto</a> 
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="login">login Resto</a> 
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="register">Register Resto</a> 
      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLink="update">Update Resto</a> 
      </li>
    </ul>
  </div>
  <!--<div class="container">&nbsp;&nbsp;  </div>-->
  <router-outlet></router-outlet>
  <footer>Register Restaurant with us
  </footer>
  </body>
</html>